<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>SIAKADWKWK</title>
</head>
<body style="overflow: hidden">
    <section class="hero is-primary is-bold is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-three-fifths">
                        <div class="box">
                            <h1 class="title has-text-centered has-text-black">SIAKADWKWK</h1>
                            <!-- <h2 class="subtitl has-text-centered has-text-link"><a href="view-source:https://siakad.uns.ac.id/nilai/index">JWT_TOKEN (copy link, buka di tab baru)</a></h2> -->
                            <div class="columns">
                                <div class="column is-half">
                                    <div class="content">
                                        <ol>
                                            <li>Login ke <a href="http://siakad.uns.ac.id" target="_blank" class="has-text-link">siakad bukan old</a></li>
                                            <li>Copy <a href="view-source:https://siakad.uns.ac.id/nilai/index" class="has-text-link">link ini</a></li>
                                            <li>Buka tab baru, paste link tadi</li>
                                            <li>Copy semua yang muncul dan masukkan ke form</li>
                                        </ol>
                                    </div>
                                </div>
                                <form class="column is-half level" method="POST" action="/">
                                    <div class="field">
                                        <label for="" class="label">Code</label>
                                        <div class="control has-icons-left">
                                            <textarea name="jwt" type="text" class="input" placeholder="Masukkan code yang dicopy di sini" autocomplete="off"></textarea>
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-code"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="columns">
                                        <div class="column is-half field">
                                            <label for="" class="label">Tahun</label>
                                            <div class="control has-icons-left">
                                                <input name="thn" type="text" class="input" placeholder="Tahun" autocomplete="off">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="column is-half field">
                                            <label for="" class="label">Semester</label>
                                            <div class="control has-icons-left">
                                                <div class="select is-fullwidth">
                                                    <select name="smt">
                                                        <option>A</option>
                                                        <option>B</option>
                                                    </select>
                                                </div>
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-clock"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <input type="submit" class="button is-primary is-fullwidth">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            <input type="reset" class="button is-primary is-light is-fullwidth">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="content has-text-centered hast-text-link">
                                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="has-text-link">Penasaran sama yang bikin SIAKADWKWK?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://kit.fontawesome.com/b5b638f7ba.js" crossorigin="anonymous"></script>
</body>
</html>